$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import "../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;

    /* Make the masthead heading the same height as the navigation */
    h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
        padding-bottom: 19px;
    }
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    .btn {
        font-size: 21px;
        padding: 14px 24px;
    }
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
    p + h4 {
        margin-top: 28px;
    }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }

    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

.tile {
  border:1px solid #AEEFFC;
  text-align: center;
  position: relative;
  height:40px;
  width:40px;
  font-family: Arial;

  &.normal {
    border: 1px solid #C0EBF4;
    background: linear-gradient(180deg, #fff, #D7F8FF);
  }

  &.middle {
    background: linear-gradient(180deg, #fff, #F4CFA7);
    border:1px solid #E7C8A7;
  }

  &.bonus-times-3 {
    background: linear-gradient(180deg, #fff, #FFD3DF);
    border:1px solid #FFC0D1;
  }

  &.bonus-times-2 {
    background: linear-gradient(180deg, #fff, #B9EAD2);
    border:1px solid #ABE0C6;
  }

  &.bonus-times-2::before {
    content: 'x2';
    color: #04B45F;
  }

  &.bonus-times-3::before {
    content: 'x3';
    color: #F47F9D;
  }

  &.bonus-times-2::before, &.bonus-times-3::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    line-height: 40px;
  }

  .token {
    position: absolute;
    top: (40px - 30px) / 2;
    left: (40px - 30px) / 2;
  }
}

.token {
  background: white;
  border-radius: 50%;
  border-bottom: rgba(0,0,0,0.4) 2px solid;

  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;

  color: white;
  font-size: 90%;
  font-weight: bold;
  text-align: center;

  &.red {
    background-color: red;
  }

  &.blue {
    background-color: blue;
  }

  &.green {
    background-color: green;
  }

  &.yellow {
    background-color: yellow;
    color: black;
  }

  &.pink {
    background-color: pink;
  }


  &.ferret {
    &::before {
      content: 'F';
    }
  }

  &.star {
    &::before {
      content: 'ST';
    }
  }

  &.triangle {
    &::before {
      content: 'T';
    }
  }

  &.circle {
    &::before {
      content: 'C';
    }
  }

  &.square {
    &::before {
      content: 'SQ';
    }
  }

}
